<div id="<%= dom_id song %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= song.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Artist:</strong>
    <%= song.artist %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Contest:</strong>
    <%= song.contest_id %>
  </div>
</div>
